:root {
  --primary-color: #f70f0f;
  --secondary-color: rgb(60, 0, 72);
  --highlight-color: #ffc107;
  --highlight-hover: #ff9900;
  --button-bg: rgb(187, 14, 221);
  --button-hover-bg: rgb(109, 8, 129);
  --text-color: #fff;
  --shadow-color: rgba(243, 4, 223, 0.2);
  --modal-bg: rgba(0, 0, 0, 0.7);
}

.container-movie-details{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.conteiner-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  color: var(--primary-color);
}

.card-movie-details {
  background: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px var(--shadow-color);
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px;
  text-align: center;
}

.container-image-movie {
  width: 30%;
  padding: 20px;
}

.card-image-movie {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.card-image-movie:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--highlight-color);
}

/* Detalhes do filme */
.datails {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.card-title-details {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  color: var(--text-color);
}

.card-rating-details {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--highlight-color);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.sinopse {
  margin: 20px 0;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.6;
}

.card-property-details {
  font-size: 1rem;
  margin: 5px 0;
  transition: color 0.3s ease;
  text-align: justify;
}

.card-description-details {
  font-size: 1.2rem;
  margin: 20px 0;
}

.card-link-details {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--highlight-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.card-link-details:hover {
  background-color: var(--highlight-hover);
}

/* Trailer */
.trailer {
  margin: 20px 0;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}

.trailer button {
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg);
}

.trailer button:hover {
  background-color: var(--button-hover-bg);
}

.icon-play {
  margin-right: 5px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .card-movie-details {
    flex-direction: column;
    padding: 30px;
    text-align: center;
    align-items: center;
  }

  .container-image-movie {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card-image-movie {
    max-height: auto;
    max-width: 100%;
  }

  .datails {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .trailer {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .container-image-movie {
    width: 100%;
  }

  .card-image-movie {
    max-height: 300px;
  }

  .datails {
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .card-title-details {
    font-size: 1.5rem;
  }

  .card-property-details {
    font-size: 0.9rem;
    margin: 6px 0;
  }

  .sinopse {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 10px;
  }

  .trailer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}